<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Smettboi</title>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Sanchez|Bree+Serif|Raleway|Kreon|Arvo|Zilla+Slab" rel="stylesheet">
    <%- css('css/main') %>
</head>
<body>

    <%- partial('_partial/header.ejs') %>

    <div class="container page-content">
        <%- body %>
    </div>

</body>
</html>