
@import 'variables';

body {
    background-color: $smettbreeze;
    color: $smettblack;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $font-family-heading;
    font-weight: 900;
    text-transform: uppercase;
}

header {
    &.navbar {
        .navbar-brand {
            font-family: $font-family-heading;
            font-size: 2rem;
            margin-bottom: 0;
        }
        .social-links {
            li {
                padding: .3rem;

                a {
                    color: #000;
                    line-height: 0;

                    &.icomoon-spotify {
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}


hr {
    color: $smettgrey;
}

html {
    font-size: 16px;
    background-color: $smettbreeze;
}

img.greyscale {
    filter: grayscale(1) contrast(120%);
    -webkit-filter: grayscale(1) contrast(120%);
    position: relative;
    display: block;
}

p {
    word-spacing: .4rem;
}

.page-content {
    padding-top: 3rem;
}