<footer>
    <div class="container">
        <ul class="nav social-links">
            <li class="nav-item">
                <a class="nav-link icon-github" target="_" href="https://github.com/zaneadix"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon-goodreads" target="_" href="https://www.goodreads.com/user/show/75304325-zane-adickes"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon-letterboxd" target="_" href="https://letterboxd.com/zaneadix/"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon-bandcamp" target="_" href="https://bandcamp.com/tabledog"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon-spotify" target="_" href="https://open.spotify.com/user/1273976711"></a>
            </li>
        </ul>
    </div>
</footer>