<div class="rating">
    <div class="end no">No</div>
    <div class="bar">
        <div class="fill" style="width: <%= post.score %>%;">
            <span class="value"><%= post.rating %></span>
        </div>
    </div>
    <div class="end wow">Wow</div>
</div>